{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>


        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row["symbol"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["totalshares"]}}</td>
                <td>{{"{:.2f}".format(row["price"])}}</td>
                <td>{{"{:.2f}".format(row["total"])}}</td>
            </tr>
            {% endfor %}

            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{"{:.2f}".format(cash)}}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{"{:.2f}".format(balance)}}</td>
            </tr>
        </tfoot>
    <table>


    <form action="/" method="post">
        <div class="form-horizontal text-center pb-3">
            <input autocomplete="off" autofocus class="form-control" name="funds" placeholder="Funds" type="number">
            <button class="btn btn-primary" type="submit">Add Funds</button>
        </div>
    </form>


{% endblock %}
